{% extends 'payment_method/dialog.html.twig' %}

{% block modal_content %}
{% trans_default_domain 'payment_method_cash' %}
<form class="container modal-body">
	<div class="row mb-3">
		<label class="col-3" for="Amount">{{ 'restricted.amount.label'|trans }}</label>
		<div class="col-9">
			<input type="number" value="{{ amount|replace({',': '.'})|default('__amount__') }}" readonly="readonly" id="Amount" class="form-control-plaintext px-3" />
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-3" for="Cash">{{ 'restricted.cash.label'|trans }}</label>
		<div class="col-9">
			<input type="number" value="" id="Cash" class="form-control px-3" autofocus="autofocus" oninput="document.getElementById('Return').value = this.value - document.getElementById('Amount').value;" />
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-3" for="Return">{{ 'restricted.return.label'|trans }}</label>
		<div class="col-9">
			<input type="number" value="" id="Return" class="form-control-plaintext px-3" />
		</div>
	</div>
</form>
{% endblock %}
